<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Tienda en Línea</h1>
    </header>
    
        <div class="navbar">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
    <main>
        <h2>Bienvenido a nuestra tienda en línea</h2>
        
        <div>
            <h3>Productos destacados</h3>
            <ul>
                <li>Producto 1</li>
                <li>Producto 2</li>
                <li>Producto 3</li>
            </ul>
        </div>
        
        <div>
            <h3>Explora nuestros productos</h3>
            <ul>
                <li>Categoría 1</li>
                <li>Categoría 2</li>
                <li>Categoría 3</li>
            </ul>
        </div>
        
        <div>
            <h3>Carrito de compras</h3>
            <ul>
                <li>Producto 1</li>
                <li>Producto 2</li>
                <li>Producto 3</li>
            </ul>
        </div>
    </main>
    
    <footer>
        <p>Tienda en Línea - <!--Todos los derechos reservados--></p>
    </footer>
</body>
</html>